

<nav class="navbar" style="background-color: #e3f2fd;">
  
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/index"> </a>
          <img src="static/images/logo.png" alt="">
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{url_for('index')}}"> Home </a></li>
        <li><a href="{{url_for('cocktails')}}">Cócteles</a></li>
        <li><a href="{{url_for('help')}}">Ayuda</a></li>
        <li><a href="{{url_for('login')}}">Login</a></li>
      </ul>
    </div>
  </nav>
  